html {
  font-size: clamp(16px, 1vw, 48px);
}
:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  /* 渐变色 */
  --vp-home-hero-name-background: linear-gradient(135deg, #76c4fd 10%, #bbe2fe 100%);
}
